pipeline/pbfdp.json
{
	"name": "pbfdp",
	"properties": {
		"activities": [
			{
				"name": "tutonForEach",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.loop_input",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "XLtoSQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "TRUNCATE TABLE dbo.tuton;",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Date",
												"type": "Date",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "User_ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "User_ID",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Age_in_Months",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Age_in_Months",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Gender",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Gender",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Location",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Location",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Grade",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Grade",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Logins_per_Month",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Logins_per_Month",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Days_Completed_Activity",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Days_Completed_Activity",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Exercises_Started",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Exercises_Started",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 10
											}
										},
										{
											"source": {
												"name": "Total_Time_Spent_in_Minutes",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Total_Time_Spent_in_Minutes",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 10
											}
										},
										{
											"source": {
												"name": "Course_Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Course_Name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Course_Category",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Course_Category",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Completion_Rate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Completion_Rate",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 10
											}
										},
										{
											"source": {
												"name": "Average_Score",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Average_Score",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 10
											}
										},
										{
											"source": {
												"name": "Course_Rating",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Course_Rating",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Recommendation_Likelihood",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Recommendation_Likelihood",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Exercises_Completed",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Exercises_Completed",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Points_Earned",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Points_Earned",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 10
											}
										},
										{
											"source": {
												"name": "Subscription_Tier",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Subscription_Tier",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Subscription_Cost",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Subscription_Cost",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 10
											}
										},
										{
											"source": {
												"name": "Subscription_Length_in_Months",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Subscription_Length_in_Months",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Renewal_Status",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Renewal_Status",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Tutoring",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Tutoring",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Referrals",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Referrals",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Academic_Grade",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Academic_Grade",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "tuton",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "sql",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "current",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "XLtoSQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "current",
								"value": {
									"value": "@formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "current_file",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "current",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "current_file",
								"value": {
									"value": "@formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "last_cdc",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "current_file",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "cdc_json",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": "@concat(item().table, '_cdc')",
										"file": "cdc.json"
									}
								}
							}
						},
						{
							"name": "SQLtoDL",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "last_cdc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT * \nFROM @{item().schema}.@{item().table}\nWHERE @{item().cdc_col} > \n'@{if(\n    empty(item().from_date),\n    activity('last_cdc').output.firstRow.cdc,\n    item().from_date\n)}'\nAND @{item().cdc_col} <= \n'@{if(\n    empty(item().end_date),\n    variables('current'),\n    item().end_date\n)}'",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sql",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "bronze",
											"type": "Expression"
										},
										"folder": "@item().table",
										"file": {
											"value": "@concat(item().table,'_',variables('current_file'),'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "If_incremental",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SQLtoDL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('SQLtoDL').output.dataRead,0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Delete_Empty_File",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "Parquet_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": "@item().table",
													"file": "@concat(item().table,'_',variables('current_file'),'.parquet')"
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "last_updated_cdc",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": "SELECT \n    COALESCE(\n        CONVERT(VARCHAR(10), MAX([@{item().cdc_col}]), 23),\n        '@{if(empty(item().from_date), activity('last_cdc').output.firstRow.cdc, item().from_date)}'\n    ) AS cdc\nFROM [@{item().schema}].[@{item().table}]\nWHERE [@{item().cdc_col}] > \n'@{if(\n    empty(item().from_date),\n    activity('last_cdc').output.firstRow.cdc,\n    item().from_date\n)}'\nAND [@{item().cdc_col}] <= \n'@{if(\n    empty(item().end_date),\n    variables('current'),\n    item().end_date\n)}'",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "sql",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "cdc_json",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": "@concat(item().table, '_cdc')",
													"file": "cdc.json"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"loop_input": {
				"type": "array",
				"defaultValue": [
					{
						"schema": "dbo",
						"table": "tuton",
						"cdc_col": "Date",
						"from_date": "",
						"end_date": ""
					}
				]
			}
		},
		"variables": {
			"current": {
				"type": "String"
			},
			"current_file": {
				"type": "String"
			}
		},
		"annotations": []
	}
}