pipeline/pbfdp.json
{
	"name": "pbfdp",
	"properties": {
		"activities": [
			{
				"name": "XL-to-SQL",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE dbo.tuton;",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "tuton",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sql",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "current",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "XL-to-SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current",
					"value": "@formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')"
				}
			},
			{
				"name": "current_file",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "current",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_file",
					"value": "@formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')"
				}
			},
			{
				"name": "last_cdc",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "current_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "cdc_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": "@concat(item().table, '_cdc')",
							"file": "cdc.json"
						}
					}
				}
			}
		],
		"variables": {
			"current": {
				"type": "String"
			},
			"current_file": {
				"type": "String"
			}
		},
		"annotations": []
	}
}